header {
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 72px;
    z-index: 1;
}

#brand {
    margin: auto 16px;
}

#hamburger {
    margin: auto 16px;
}

.hide {
    display: none;
}

/*General List Styling*/
#menu, #mobile-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Regular Menu */
#menu li {
    float: left;
    width: 76px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu li a {
    text-decoration: none;
}

/* Mobile Menu */

.mobile-menu-container {
    height: calc(100vh - 72px);
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 72px;
    overflow-x: hidden; 
    transition: 0.5s;
}

.mobile-menu {
    position: relative;
    width: 100%;
    text-align: center;
}

.mobile-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #CCCCCC;
    display: block;
    transition: 0.3s;
}

.mobile-menu-container a:hover, .mobile-menu-container a:focus {
    color: white;
}

.mobile-menu-color {
    background-color: rgba(50, 50, 50, .7);
}

.dark-blue {
    color: rgb(23, 50, 72);
}

.white {
    color: white;
}

/* SMALL */
@media screen and (max-width: 992px) {
    #menu {
        display: none;
    }
    nav {
        justify-content: space-between;
    }
}

/* LARGE */
@media screen and (min-width: 993px) {
    #hamburger {
        display: none;
    }
}   