header {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 10px;
    z-index: 1;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#brand {
    margin: auto 16px;
}

#hamburger {
    margin: auto 16px;
}

/*General List Styling*/
#menu, #mobile-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Regular Menu */
#menu li {
    float: left;
    width: 76px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu li a {
    text-decoration: none;
}

/* Mobile Menu */

#mobile-menu-container {
    flex-grow: 1;
}

#mobile-menu li {
    text-align: center;
    width: 100%;
}

#mobile-menu li:hover {
    background-color: rgba(50, 50, 50, .8);
}

#mobile-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobile-background-color {
    background-color: rgba(50, 50, 50, .7);
}

.dark-blue {
    color: rgb(23, 50, 72);
}

.white {
    color: white;
}

/* SMALL */
@media screen and (max-width: 992px) {
    #menu {
        display: none;
    }
    nav {
        justify-content: space-between;
    }
}

/* LARGE */
@media screen and (min-width: 993px) {
    #hamburger {
        display: none;
    }
}

