<section class="home" id="home">
  <div class="home-content">
      <h1 class="name">
        Luis Petitjean
      </h1>
      <br><br>
      <p class="description">
        Software Engineer
      </p>
      <p>@ United Airlines</p>
  </div>
</section>
<section class="about" id="about" (scroll)="onScroll($event)">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="/assets/luis-petitjean.jpg" class="my-image"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="about-content">
            <h1>Hi,</h1>
            <p class="about-description">&nbsp;&nbsp;&nbsp;&nbsp;I’m currently in a digital technology rotational program at United Airlines. This great opportunity is giving exposure to different teams, various tech stacks, and changing business needs. <br>&nbsp;&nbsp;&nbsp;&nbsp;My ideal work environment is one where I am always learning both from my peers and my own curiosity. I seek to write code that can grow in the future but at the same time be practical.</p>
            <ul class="about-list">
              <li><a href="mailto:luis.petitjean@gmail.com" style="color: black;"><i class="fa fa-envelope" style="color: #f1d592">&nbsp;</i>petitjean.luis@gmail.com</a></li>
              <li><i class="fa fa-phone"></i>&nbsp;(210) 677-9611</li>
            </ul>
            <div class="social-links">
              <a href="https://github.com/petitjeanluis" target="_blank"><i class="fa fa-github fa-3x" style="color: #24292e; margin-right: 16px;"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/luis-petitjean" target="_blank"><i class="fa fa-linkedin fa-3x" style="color: #0e76a8;"></i></a>
              <a href="https://www.credly.com/badges/59b8b7dd-3268-4b41-99cd-23b96a7324cf/public_url" style="margin-left: 10px;" target="_blank"><img src="../../../assets/sa-cert.png"/></a>
              <a href="https://www.credly.com/badges/2a9f71af-ac06-4f19-a44e-84b55d9afd99/public_url" target="_blank"><img src="../../../assets/dev-cert.png"/></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
