<app-navigator></app-navigator>
<section class="home" id="home">
  <div class="container">
    <div class="home-content">
        <h1 class="name">
          Luis Petitjean
        </h1>
        <br>
        <h2 class="description">
          Associate Cloud Solutions Architect<br>
        </h2>
    </div>
  </div>
</section>
<section class="about" id="about" (scroll)="onScroll($event)">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6" style="z-index: -1;">
            <img src="/assets/luis-petitjean.jpg" class="my-image"/>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="about-content">
            <h1>Hi,</h1>
            <p class="about-description">I’m currently in a digital technology rotational program at United Airlines. This great opportunity is allowing me to develop both my technical software skills and business acumen. My ideal work environment is one where I am always learning both from my peers and my own curiosity.</p>
            <ul class="about-list">
              <li><a href="mailto:luis.petitjean@gmail.com" style="color: black;"><i class="fa fa-envelope" style="color: #f1d592"></i>&nbsp;petitjean.luis@gmail.com</a></li>
              <li><i class="fa fa-phone"></i>&nbsp;(210) 677-9611</li>
            </ul>
            <div class="social-links">
              <a href="https://github.com/petitjeanluis" target="_blank"><i class="fa fa-github fa-2x" style="color: #24292e; margin-right: 16px;"></i></a>&nbsp;
              <a href="https://www.linkedin.com/in/luis-petitjean" target="_blank"><i class="fa fa-linkedin fa-2x" style="color: #0e76a8;"></i></a>
            </div>
          </div>
        </div>
      </div>
     
  </div>
</section>
