/*Home*/
.home {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0,0,0,.5)), url(/assets/cloud-network-min.jpg) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 0;
}

.home-content {
    text-align: center;
    margin: auto;
    color: #EEEEEE;
}

.name {
    font-weight: 500;
    font-size: 300%;
}

.description {
    font-weight: 500;
    font-size: 150%;
}

/*About*/
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.my-image {
    display: block;
    margin: auto 24px auto auto;
    border-radius: 5px;
    width: 300px;
}

.about-content {
    width: 400px;
    display: block;
    margin: auto auto auto 24px;
}

.about-list {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .my-image {
        margin: 24px auto 12px auto;
        width: 250px;
    }
    
    .about-content {
        margin: 12px auto auto auto
    }
}

@media screen and (max-width: 991px) and (min-width:768px) {
    .my-image {
        margin: auto 12px auto auto;
    }
    
    .about-content {
        margin: auto auto auto 12px;
        width: 360px;
    }
}
