.blogs-wrapper {
    width: 75%;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blogs-header {
    margin: 24px;
}

.blog-item {
    text-align: justify;
}

a {
    color: rgb(23, 50, 72);
}